.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}
.suggestions {
  background: white;
  border: 1px solid #d1d5db;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.suggestion {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.suggestion:hover {
  background: #f3f4f6;
} 